body{
   font-size: 25px;
   font-family: "FRABKUNAD",Arial;
   background: #ededed;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

header figure {
    background: #FFF;
    float: left;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 350px;
}

nav{
    /*Bordes redondeados*/
    -webkit-border-radius:10px;/*Para chrome y Safari*/
    -moz-border-radius:10px;/*Para Firefox*/
    -o-border-radius:10px;/*Para Opera*/
    border-radius:10px;/*El estandar por defecto*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#B3B3B3), to(#CCC));/*Para chrome y Safari*/
    /*Degradados*/
    background-image: -moz-linear-gradient(top center, #B3B3B3, #CCC);/*Para Firefox*/
    background-image: -o-linear-gradient(top, #B3B3B3, #CCC);/*Para Opera*/
    background-image: linear-gradient(top, #B3B3B3, #CCC);/*El estandar por defecto*/
    overflow:hidden;
    padding:10px;
    width:980px;
}

nav ul{
    list-style:none;
    margin:0 10px 0 10px;
    padding:0;
}

nav ul li{
    /*Bordes redondeados*/
    -webkit-border-radius:5px;/*Chrome y Safari*/
    -moz-border-radius:5px;/*Firefox*/
    -o-border-radius:5px;/*Opera*/
    border-radius:5px;/*Estandar por defecto*/
    float:left;    
    font-size:16px;
    font-weight:bold;
    margin-right:10px;
    text-align:center;
    /*Sombras para texto, los mismos parametros que box-shadow*/
    text-shadow: 0px 1px 0px #FFF;
}

nav ul li:hover{
    /*Degradado de fondo*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to( #E3E3E3));/*Chrome y Safari*/
    background-image: -moz-linear-gradient(top center, #FFF, #E3E3E3);/*Firefox*/
    background-image: -o-linear-gradient(top, #FFF, #E3E3E3);/*Opera*/
    background-image: linear-gradient(top, #FFF, #E3E3E3);/*Estandar por defecto*/
    /*Sombras*/
    -webkit-box-shadow:  1px -1px 0px #999;/*Chrome y Safari*/
    -moz-box-shadow:  1px -1px 0px #999;/*Firefox*/
    -o-box-shadow:  1px -1px 0px #999;/*Opera*/
    box-shadow:  1px -1px 0px #999;/*Estandar por defecto*/
    border:1px solid #E3E3E3;
}

nav ul li a{
    color:#999;
    display:block;
    padding:10px;
    text-decoration:none;
    /*Transiciones*/
    -webkit-transition: 0.4s linear all;
    -moz-transition: 0.4s linear all;
    -o-transition: 0.4s linear all;
    transition: 0.4s linear all;
}

nav ul li a:hover {
    color:#000;
}

.textobanner{
font-size: 30px;
position: absolute;
bottom: -180px;
margin: -8px 243px;
color: #FE0000;
}
header figure {
    background: #FFF;
    float: left;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 350px;
}

#contenidos {
    width: 1000px;
    height: auto;
    margin: auto;
    position: relative;
}

footer {
    width: 1000px;
    height: 70px;
    background: #808080;
    float: left;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}


aside {
    width: 280px;    
    height: 600px;
	background: #006680;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

section {
    width: 700px;
    background: #F2B80D;
    height: 600px;
    float: left;
    margin-top: 20px;
    border-radius: 10px;
}